/* styles for tables <style> */ 

h1{
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table td{
	width: 300px;
	background-color:skyblue;
	border: 0px;
	padding: 10px;
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 22px;
	text-align:left;
	vertical-align: top;
    text-align: justify;
}

ul li{
	padding: 0;
}

table th{
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:pink;
}

.table1{
	margin: 40px 40px 20px 40px;	
}

.table2{
	margin: 0px 40px 0px 40px;
}

footer{
	text-align: center;
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* styles for tables </style> */ 