/* styles for tables */

table {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 80%;
    margin: auto;   
}

tr {
    vertical-align: top;
}
/* makes every other line have a black color */
tr:nth-child(even), thead tr {
    background-color: skyblue;
    color:#fff;
}

thead tr {
    background-color: pink;
}

td {
    border:1px solid #000;
    padding:.5em;
}

th {
    border:1px solid #000;
    border-bottom: 1px solid black;
    padding: 1em .5em .5em;
}


.col1 {
    width: 10%;
}

caption {
    font-size: 1.2em;
    color: black;
    caption-side:bottom;
    
}

